* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 100%;
  height: 100vh;
  background-color: hsl(235, 21%, 11%);
  background-image: url("images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 75px;
  width: 40%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
h1{
  font-size: 2.5em;
}
.add {
  position: relative;
  margin: 35px 0;

}

.task {
  width: 100%;
  padding: 20px 55px;
  background-color: hsl(235, 24%, 19%);
  text-align: start;
  font-weight: 400;
  font-size: 18px;
  border: none;
  color: white;
  position: relative;
  border-bottom: 1px solid gray;
}
.task:first-child{
  border-radius: 7px 7px 0 0 ;
}
.task:last-child{
  border-radius: 0 0  7px 7px ;
  border: none;
}

#taskadd{
  position:static;
  border-radius: 7px;
}

ul {
  list-style: none;
}

input[type="checkbox"] {
  position: absolute;
  top: 20px;
  left: 20px;
  appearance: unset;
  cursor: pointer;
  margin: 0;
  width: 1.15em;
  height: 1.15em;
  border: 0.5px solid lightgray;
  border-radius: 50%;
  transform: scale(1);
}

input[type="checkbox"]:checked {
  background: url("images/icon-check.svg") center no-repeat ,
    linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
  background-size: 60%, 100%;

  ;
}

input[type="checkbox"]:hover {
  border: 1px solid hsl(192, 100%, 67%);
  transition: 0.5s ;

}
.imgcross{
  position: absolute;
  right:  0;
  margin-right: 20px;
  cursor: pointer;
}
.filter{
  padding: 20px 10px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.filter span{
  font-size: 14px;
  color: gray;

}
button{
  background: none;
  border: none;
  color: gray;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
}
button:hover{
  transition: 0.5s ease-in;
  color: white;
}
 