* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}
  

:root {
  --icon-image:url("images/icon-moon.svg");
  --back-image:url("images/bg-desktop-light.jpg");
  --bg-color: hsl(0, 0%, 98%);
  --alt-bg-color: white;
  --font-color:   hsl(235, 19%, 35%);
  --alt-font-color:  hsl(236, 9%, 61%);
  --primary-color: #607d8b;
  --secondary-color: #93B5C6;
}

.dark {
  --icon-image:url("images/icon-sun.svg");

  --back-image:url("images/bg-desktop-dark.jpg");

  --bg-color: hsl(235, 21%, 11%);
  --alt-bg-color: hsl(235, 24%, 19%);
  --font-color: hsl(234, 39%, 85%);
  --alt-font-color: hsl(234, 11%, 52%);
 
}

body {
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  background-image: var(--back-image);
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
}

.container {

  margin: 75px 0;
  width: 40%;
  max-width: 700px;

}

@media screen and (max-width :1100px) {
  .container {
    min-width: none !important;
    margin-top: 75px;
    max-width: 500px;
    width: 90%;
  }
  .filterListMobile{
    visibility: visible !important;
  }
  .filterList{
    display: none;
  }
  
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

h1 {
  font-size: 2.5em;
}

.add {
  position: relative;
  margin: 35px 0;

}

.task {
  overflow: hidden;
  width: 100%;
  padding: 20px 55px;
  background-color: var( --alt-bg-color);
  text-align: start;
  font-weight: 400;
  font-size: 18px;
  border: none;
  color: var(--font-color);
  position: relative;
  border-bottom: 1px solid var(--alt-font-color) ;
}

.task:first-child {
  border-radius: 7px 7px 0 0;
}


.task:nth-last-child(-n+2) {
  border-radius: 0 0 7px 7px;
  border: none;
}

#taskadd {
  position: static;
  border-radius: 7px;
}

ul {
  list-style: none;
}

.checkadd {
  position: absolute;
  top: 20px;
  left: 20px;
  appearance: unset;
  cursor: pointer;
  margin: 0;
  width: 1.15em;
  height: 1.15em;
  border: 0.5px solid lightgray;
  border-radius: 50%;
  transform: scale(1);
}

.checkadd:checked {
  background: url("images/icon-check.svg") center no-repeat,
    linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
  background-size: 60%, 100%;

  ;
}
.checkadd:checked + span{
  color: var(--alt-font-color);
  text-decoration: line-through;
}

.checkadd:hover {
  border: 1px solid hsl(192, 100%, 67%);
  transition: 0.5s;

}

#darkToggler {
  height: 1.45em;
  width: 1.45em;

  appearance: unset;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 100%;
  background: var(--icon-image);
}

.imgcross {
  position: absolute;
  right: 0;
  margin-right: 20px;
  cursor: pointer;
}

.filter {
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter span {
  font-size: 14px;
  color: var(--alt-font-color);

}

button {
  background: none;
  border: none;
  color: var(--alt-font-color);
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  transition: 0.2s ease-in;
  color: var(--font-color);
}

button[aria-pressed='true'] {
  color: hsl(220, 98%, 61%)
}

.filterListMobile{
  text-align: center;
  visibility: hidden;
  border-radius: 7px !important  ;
}